<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - My Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> nav}}

    <main class="blog-post">
        <article class="newspaper">
            <header>
                <h1>{{title}}</h1>
                <div class="meta">
                    <time>{{date}}</time>
                    {{#if author}}<span class="author">By {{author}}</span>{{/if}}
                </div>
            </header>
            <div class="content">
                {{content}}
            </div>
            <div class="substack-form">
                <iframe src="https://jarednations.substack.com/embed" width="100%" height="320" frameborder="0" scrolling="no"></iframe>
            </div>
        </article>
    </main>

    {{> footer}}
</body>
</html> 